version: '3'

services:
  database:
    image: mysql:8.0.29
    env_file:
      - ./.env
    container_name: lets-do-it-db
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 5
  
  back:
    build: ./backEnd
    container_name: lets-do-it-back
    depends_on:
      database:
        condition: service_healthy
    ports:
      - 3001:3001
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3001"]
      timeout: 10s
      retries: 5
    volumes:
      - ./backEnd/src:/app-back/src
    env_file:
      - ./backEnd/.env